<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h3>Login</h3>
    <hr>
<form action="#" th:action="@{/authenticateTheUser}" method="post">
    <p>
        Username: <input type="text" name="username" autocomplete="off"/>
    </p>
    <p>
        Password <input type="password" name="password" autocomplete="off"/>

    <div th:if="${param.error}" style="color: red">
        <i>Invalid username or password.</i>
    </div>

    </p>



    <input type="submit" value="Login"/>
</form>

</body>
</html>