<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Confirmation</title>
    <link rel="stylesheet"
          th:href="@{/css/demo.css}"
    />
</head>
<body>
<div class="funny">
    Student name: <span th:text="${student.firstName} + ' ' + ${student.lastName}"/>
    <br><br>
    Student country: <span th:text="${student.country}"/>
    <br><br>
    Student´s favorite programming language: <span th:text="${student.favoriteLanguage}"/>
    <br><br>
    Student´s favorite operating systems:
    <ul>
        <li th:each="tempSystem : ${student.favoriteSystems}" th:text="${tempSystem}" />
    </ul>


    <!--    Student name: Hello World!-->
</div>


<br><br>

</body>
</html>